{% extends 'localshop/base.html' %}
{% load static %}
{% block content %}
<!--A Design by W3layouts
   Author: W3layout
   Author URL: http://w3layouts.com
   License: Creative Commons Attribution 3.0 Unported
   License URL: http://creativecommons.org/licenses/by/3.0/
   -->

<!-- Slideshow 4 -->
         <div class="slider text-center"  >
                <div class="bottom-info" style="padding-top: 1px;">
                  <form action="search" method="get">

                     <input class="form-control mr-sm-2 id_input" id="id_input" type="search" name="pname" placeholder="Type Product Name">                

                   <button class="btn btn-primary" type="submit">Search</button>
                  </form>
               </div>

            <div class="callbacks_container" style="font: -webkit-small-control;">

               <ul class="rslides" id="slider4">
                  <li>
                     <div class="slider-img one-img">
                        <div class="container">
                           <div class="slider-info " style="">
                              <h5>Search The Best Product <br>Near You</h5>
                              
                           </div>
                        </div>
                     </div>
                  </li>
                  <li>
                     <div class="slider-img two-img">
                        <div class="container">
                           <div class="slider-info " style="">
                              <h5>Your Complete Local Store Search</h5>
                              
                           </div>
                           </div>
                        </div>
                   
                  </li>
               </ul>
             </div>
            </div>
            <!-- This is here just to demonstrate the callbacks -->
            <!-- <ul class="events">
               <li>Example 4 callback events</li>
               </ul>-->
            <div class="clearfix"></div>
         

       {% endblock %}